<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie World</title>
        <link rel="stylesheet" href="accountPage.css">
    </head>


    <body>
        <div class = "header">
            <img src = "mwLogo.png" alt="Movie World Logo";>
            <link href='http://fonts.googleapis.com/css?family=Economica:700' rel='stylesheet' type='text/css'>
        </div>

        <div class = "searchBar">
            <label for="user">Search:</label>
            <input type="text" id="user" name="user"><br><br>
        </div>

        <div class = "userProfile">
            <h1>USERNAME</h1>
            <img src = "defaultAvatar.png" alt="defaultAvatar";>
            <!-- Will use a table to display user information underneath image -->
        </div>
        <div class = "userInfo">
            <table>
                <tr>
                    <td>User Information</td>
                </tr>
                <tr>
                    <td>DISPLAY MOVIE INFO HERE</td>
                </tr>
            </table>
        </div>

        <div class = "watchList">
            <table>
                <tr>
                    <td>Users WatchList</td>
                </tr>
                <tr>
                    <td>DISPLAY MOVIES HERE</td>
                </tr>
            </table>
        </div>
        <div class = "userFavourites">
            <table>
                <tr>
                    <td>User Favourites</td>
                </tr>
                <tr>
                    <td>DISPLAY MOVIES HERE</td>
                </tr>
            </table>
        </div>
        <div class = "userReviews">
            <table>
                <tr>
                    <td>User Reviews</td>
                </tr>
                <tr>
                    <td>DISPLAY MOVIES HERE</td>
                </tr>
            </table>
        </div>
        
    </body>
</html>